.form {
    background-color: rgba(141, 130, 130, 0.274);
    height: 100vh;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
}

.form a {
    text-decoration: none;
    color: rgb(202, 54, 153);
}

.form input{
    display: block;
    height: 2rem;
    width: 90%;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color:  #e797ba00;
    box-shadow: inset 28px 28px 40px #c07d9a,
    inset -28px -28px 40px #ffb1da;
    margin: 3px auto;
    padding-left: 1rem;
    color: white;
}

.form form{
    width: 90vmin;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    padding: 2rem;
    border-radius: 20px;
}

.form h1{
    text-align: center;
    color: rgb(128, 0, 49);
}

.toggleForm{
    text-align: center;
}

.form label{
    margin-left: 2rem;
    color: #c07d9a;
}

.activeForm{
    color:rgb(128, 0, 49) !important;
}

.form .error{
    color: red;
    text-align: center;
}

.form button{
    outline: none;
    border: none;
    color: #c07d9a;
    background-color: transparent;
   font-size: 1rem;
}

.form button:hover{
    color:rgb(128, 0, 49) ;
}

.formFoot{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.formFoot .loading{
    width: 4px;
    height: 4px;
    border-image: linear-gradient(#c07d9a, #c07d9a) 30;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    padding: 3px;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    form{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}