.app{
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 55% 25%;
    background-color: rgba(141, 130, 130, 0.274);
    overflow: hidden;
}

.canvasContainer{
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    position: relative;
    height: 90vh;
    margin-top: 5vh;
    margin-right: 3rem;
    border-radius: 20px;
    box-shadow: 21px 21px 43px #5a5a5a,
    -21px -21px 43px #ffffff;
}
.menu{
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: rgb(128, 0, 49) ;
    z-index: 2;
    cursor: pointer;
    display: none;
}

.chatArea{
    display: grid;
    grid-template-rows: 80% 20%;
    height: 90vh;
    position: relative;
    border-left: 1px solid rgba(128, 128, 128, 0.301);
    border-right: 1px solid rgba(128, 128, 128, 0.363);
    margin: 2rem;
    box-sizing: border-box;
}

.chatInput{
    display: flex;
    align-items: center;
    gap: 3px;
    position: relative;
    padding: 1rem;
}

.send{
    color:rgb(128, 0, 49) ;
    cursor: pointer;
}

.mic{
    color:rgb(128, 0, 49) ;
    cursor: pointer;
}
.textAreaContainer{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    padding: 0;
    bottom: -2rem;


}

.chat{
    overflow-y:scroll ;
    display: grid;
    grid-template-columns: auto;
    height: 100%;
    gap: 3px;
    width: 100%;
    -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat::-webkit-scrollbar {
    display: none;
  }

  textarea::-webkit-scrollbar {
    display: none;
  }

.sent{
    text-align: right;
    width: fit-content;
    background-color: rgb(128, 0, 49);
    max-width: 50%;
   justify-self: right;
   height: fit-content;
    padding: 1rem;
    border-radius: 20px 20px 0 20px;
    color: white;
    margin-right: 4px;
}

.received{
    background-color: #c07d9a;
    max-width: 50%;
    width: fit-content;
    height: fit-content;
    justify-self: left;
    padding: 1rem;
    border-radius: 20px 20px 20px 0;
    color: white;
    margin-left: 4px;
}

.characterContainer h1{
    text-align: center;
    color:rgb(128, 0, 49) ;
    margin-top: 2rem;
    font-size: 2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.characterSwitch{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.characterSwitch button{
    font-size: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    color:#c07d9a;
}

.characterSwitch button:hover{
    color: rgb(128, 0, 49);
}

.logout{
    margin-top: 3rem;
}

.activeCharacter{
    color:rgb(128, 0, 49) !important;
}

.dot{
    background-color: white;
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin: 2px;
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.36, 0.35, 0.43, 0.46);
}

.dotContainer{
    background-color: #c07d9a;
    margin-left: 1rem;
    margin-top: 3px;
    width: 2rem;
    height: 1rem;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

@keyframes load {
    0%{
        transform: translateY(0px);
    }

    25%{
        transform: translateY(-2px);
    }
    75%{
        transform: translateY(2px);
    }

    100%{
        transform: translateY(0px);
    }
}

.two{
    animation-delay: .3s;
}

.three{
    animation-delay: .5s;
}

.svgContainer{
    height: 2rem;
    width: 2rem;
    animation-name: listen;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes listen {
    0%{
        transform: scale(1);
    }

    50%{
        transform:scale(1.5)
    }

    100%{
        transform: scale(1);
    }
}

@media screen and (max-width: 650px) {
    .app{
        grid-template-columns: auto;
        grid-template-rows: 40% 50%;
    }

    .characterContainer{
        position: fixed;
        width: 0px;
        overflow: hidden;
        height: 100vh;
        background-color: rgb(206, 205, 205);
        z-index: 3;
        transition: all .3s;
    }

    .menuOpen{
        width: 300px;
    }

    .canvasContainer{
        grid-row: 1;
        height: 100%;
        margin: 1rem;
    }

    .chatArea{
        height: 100%;
    }
    .menu{
        display: block;
    }
}